.navigation {
    text-decoration: none;
    list-style: none;
    color: #00ff7b;
    background-color: #000000;
    color: #FEF3F3;
    top: 0;
    padding: 10px;
    display: flex;
    margin: center;
}